
.navbar-custom {
    background-color:rgb(0, 191, 255)
}

.navbar-brand {
    color:#fafbfb
}

.pilltab .active a,
.red .active a:hover {
    border-color: orange;
}

.intro {
    height: 20rem;
    margin: auto;
}

.advert{
    text-align:center;
}

.innerbox {
    border-radius: 25px;
    background: rgba(0, 191, 255, 0.4);
    padding: 20px;
    width: 17rem;
    height: 17rem;
}

.quote {
    text-align: center;
    padding: 2rem;
    background: rgba(195, 201, 203, 0.4);
}