body {
    background-image: url("");
    background-repeat: repeat;
}

.navbar-custom {
    background-color:rgb(0, 191, 255)
}

.navbar-brand {
    color:#fafbfb;
}

.pilltab .active a,
.red .active a:hover {
    border-color: orange;
}

.intro {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.advert {
    text-align:center;
}

.btn {
    background-color: rgba(195, 201, 203, 0.4);
}

.innerbox {
    border-radius: 25px;
    background: rgba(0, 191, 255, 0.4);
    padding: 20px;
    width: 17rem;
    height: 17rem;
    position: relative;
}

.pagination {
    justify-content: center;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.quote {
    text-align: center;
    padding: 1rem;
    height: 15rem;
}

.blockquote {
    background: rgba(195, 201, 203, 0.4);
    margin: auto;
    padding: 2rem;
}

.contactfoot {
    margin-top: 2rem;
}

.contact {
    text-align: center;
    background-color:rgba(195, 201, 203, 0.4);
    height: 5rem;
    padding: 0.5rem;
}

i {
    margin: 1rem;
}

p {
    text-align: center;
}

.add {
    text-align: center;
    background-color:rgba(195, 201, 203, 0.4);
    width: 25rem;
    height: 30rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.detailinnerbox {
    background: rgba(0, 191, 255, 0.4);
    padding: 20px;
    width: 25rem;
    height: 30rem;
    position: relative;
    margin-top: 2rem;
}

.detailimage-container {
    height: 20rem;
    overflow: hidden;
    text-align: center;
}

.scroll {
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 6rem;
}

.respond {
    max-width: 25rem;
    font-size: medium;
    background-color: #fafbfb;
}

