{% extends "myaande/basehome.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <blockquote class="blockquote">
                <p class="mb-0">
                    I found someone local to fix my roof!
                </p>
                <footer class="blockquote-footer">
                    Villagegirl94 <cite>Jan 2023</cite>
                </footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <section class ="callout">
                <p>Buy, Sell, Provide, Exchange or simply Browse!</p>
                {% if user.is_authenticated %}
                <p>Hi {{ user.username }}</p>
                <button type="button" class"btn btn-success btn-lg">
                    <a href="/addapost">
                        <p>Add a Post</p>
                    </a>
                </button>
                {% endif %}
            </section>
            <button type="button" class"btn btn-success btn-lg">
                Sign Up!
            </button>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote">
                <p class="mb-0">
                    I sold my secondhand computer in a week
                </p>
                <footer class="blockquote-footer">
                    Techwhizz <cite>London</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 postbox">
            {% for post in post_list %}
                <a href="{% url 'post_detail' post.slug %}"> 
                <h2>{{ post.title }}</h2>
                </a>
                <div class="card-body">
                    <div class="image-container rounded-circle">
                        <img alt="Post Image" src="#"/>   
                    </div>
                </div>
                <p>{{ post.description }}</p>
                <p>{{ post.dateposted }}</p>
                {% if user.is_authenticated %}
                    <p>{{ post.user }}</p>
                {% endif %}
                {% empty %}
                <p>Be the first to post!</p>
            {% endfor %} 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if is_paginated %}
            <nav aria-label="Page navigation justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}