{% extends "myaande/basehome.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row intro">
        <div class="col-md-4 d-flex justify-content-center quote">
            <blockquote class="blockquote">
                <p class="mb-0">
                    I found someone local to fix my roof!
                </p>
                <footer class="blockquote-footer">
                    Villagegirl94 <cite>Jan 2023</cite>
                </footer>
                <p class="mb-0">
                    I now have a local Dogwalker
                </p>
                <footer class="blockquote-footer">
                    PetLover <cite>Sussex</cite>
                </footer>
            </blockquote>
        </div>
        <div class="col-md-4 d-flex justify-content-center advert">
            <section class ="callout">
                <p>Buy, Sell, Provide, Exchange or simply Browse!</p>
                {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <button type="button" class"btn btn-success btn-lg">
                    <a href="/addapost">
                        <p>Add a Post</p>
                    </a>
                </button>
                {% else %}
                <button type="button" class"btn btn-success btn-lg">
                    Sign Up!
                </button>
                {% endif %}
            </section>
        </div>
        <div class="col-md-4 d-flex justify-content-center quote">
            <blockquote class="blockquote">
                <p class="mb-0">
                    I sold my secondhand computer in a week
                </p>
                <footer class="blockquote-footer">
                    Techwhizz <cite>London</cite>
                </footer>
                <p class="mb-0">
                    Secondhand Furniture for my new home
                </p>
                <footer class="blockquote-footer">
                    Student <cite>2023</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        {% for post in post_list %}
            <div class="col-md-2">
                <div class="innerbox">
                    <div class="image-container">
                        <a href="{% url 'post_detail' post.slug %}"> 
                        <h3>{{ post.title }}</h3></a>
                        {% if "placeholder" in post.image.url %}
                        <img src="https://res.cloudinary.com/dpludhery/image/upload/v1703184930/u8zgiso62ww2jbpvklim.webp"/>
                        {% else %}
                        <img src="{{ post.image.url }}">
                        {% endif %}
                        <p>{{ post.dateposted }}</p>
                        {% if user.is_authenticated %}
                            <p>{{ post.user }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
                <p>Be the first to post!</p>   
        {% endfor %} 
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}