<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to Anything and Everything</h1>
            <p><a href="{% url 'seeposts' %}">Home</a>
            </p>
        {% if user.is_authenticated %}
            <p><a href="{% url 'account_logout' %}">Logout</a>
            </p>
        {% else %}
            <p><a href="{% url 'account_signup' %}">Sign Up</a>
            </p>
            <p><a href="{% url 'account_login' %}">Login</a>
            </p>
        {% endif %}
            
    {% block content %}
    <p>
        See our posts below:
    </p>
    <table>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.dateposted }}</td>
                {% if user.is_authenticated %}
                <td>
                    <a href="/edit/{{ post.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% empty %}
        <tr><td> Be the first to post!</td></tr>
        {% endfor %}
        {% if user.is_authenticated %}
        <a href="/addapost">Add a post</a>
        {% endif %}
    </table>
    {% endblock %}
</body>
</html>