{% extends "myaande/basehome.html" %}

{% block content %}

{% load crispy_forms_tags %}
    {% if commented %}
    <div>
        Your comment has been submitted!
    </div>
    {% endif %}
    <div>
        {% for post in posts %}
            <p>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.dateposted }}</td>
                <button type="submit">Add Comment</button>
            </p>
        {% endfor %}
    </div>
        
    <h1>Leave a Comment</h1>
    <p> From {{ user.username }}</p>
    <form method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
    </form>
    <table>
    {% for comment in comments %}
        <tr>
            <td>{{ comment.user }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.datecommented }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
</html>