
{% extends "myaande/basehome.html" %}{% block content %}

{% load crispy_forms_tags %}

<div>
    <div>
        {{ post.title }}
        <div>
            {{ post.description }}
            {{ post.dateposted }}
            {{ post.user }}
        </div>
        <table>
            <tr>
                {% if user.is_authenticated and post.user == user %}
                    <td>
                        <a href="{% url 'edit_post' post.slug %}"> 
                            <button>Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_post' post.slug %}">
                            <button>Delete</button>
                        </a>
                    </td>
                {% endif %}
                
                <table>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.user }}</td>
                            <td>{{ comment.comment }}</td>
                            <td>{{ comment.datecommented }}</td>
                            <td>
                                {% if user.is_authenticated and comment.user == user %}
                                    <a href="{% url 'edit_comment' comment.id %}">
                                        <button>Edit Comment</button>
                                    </a>
                                    <a href="{% url 'delete_comment' comment.id %}">
                                        <button>Delete Comment</button>
                                    </a>
                                {% endif %}
                            <td/>
                        </tr>
                    {% endfor %}
                </table>
                {% if user.is_authenticated %}
                <h1>Leave a Comment</h1>
                <p> From {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit">Add Comment</button>
                </form>
                {% endif %}
            </tr>
        </table>
    </div>
</div>

{% endblock content%}