
{% extends "myaande/basehome.html" %}{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <!-- User can edit and delete if this is their post-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                {{ post.title }}
            </h3>
            <div>
                {% if user.is_authenticated and post.user == user %}
                    <tr>
                        <td>
                            <a href="{% url 'edit_post' post.slug %}"> 
                                <button type="button" class="btn">Edit Post</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'delete_post' post.slug %}">
                                <button type="button" class="btn">Delete Post</button>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Post detail -->
        <div class="col-md-4 order-1 col-lg-4 justify-content-center">
            <div class="detailinnerbox">
                <div class="detailimage-container">
                    {% if "placeholder" in post.image.url %}
                        <img alt="logo image" src="https://res.cloudinary.com/dpludhery/image/upload/v1703810293/aandelogo_wzij9g.png"/>
                        {% else %}
                        <img alt="post image" src="{{ post.image.url }}">
                    {% endif %}
                </div>
                <div>
                    <p><b>By: {{ post.user }}</b></p>
                    <p>Description: {{ post.description }}</p>
                    <p><i>{{ post.dateposted }}</i></p>
                </div>
            </div>
        </div>
        <!-- Comments on the post-->
        <div class="col-md-4 order-2 col-lg-4 justify-content-center">
            <div class="scroll">
                <table>
                    <tbody>
                        {% for comment in comments %}
                            <tr>
                                <th rowspan="3" class="respond" style="display:none"></th>
                                <td><b>By: {{ comment.user }}</b></td>
                            </tr>
                            <tr>
                                <td>{{ comment.comment }}</td>
                            </tr>
                            <tr>
                                <td><i>{{ comment.datecommented }}</i></td>
                            </tr>
                            {% if user.is_authenticated and comment.user == user %}
                                <tr>
                                    <td>
                                        <a href="{% url 'edit_comment' comment.id %}" class="btn">
                                            Edit
                                        </a>
                                        <a href="{% url 'delete_comment' comment.id %}" class="btn">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <p>Be the first to comment!</p>   
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Add comment if authenticated or signup -->
        <div class="col-md-4 order-3 col-lg-4 justify-content-center">
            <div class="add">
                {% if user.is_authenticated %}
                <h1>Leave a Comment</h1>
                <p> From {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn">Add Comment</button>
                </form>
                {% else %}
                <a href="{% url 'account_signup' %}" class="btn btn-lg" style="color:black">Sign-up to Comment</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}